<div class='row mt-3'>
  <div class='card'>
    <div class='row mt-3'>
      <div class='col-5'>
        <p>Марина Медведєва</p>
      </div>
      <div class='col-2'></div>
      <div class='col-5 text-end'>
        <p>Pet project</p>
      </div>
    </div>
  </div>

  <h3 class='mt-5'>Список сторінок</h3>
  <p>Посилання на практики в IT-brains</p>

  <div class='row'>
    <div class='col-4'>
      <div class='mt-5'>
        <a href='/summary' class='btn btn-primary mb-2'>
          Summary
        </a>
        <br />
        <a href='/skills' class='btn btn-primary mb-2'>
          Skills
        </a>
        <br />
        <a href='/education' class='btn btn-primary mb-2'>
          Education
        </a>
        <br />
        <a href='/work' class='btn btn-primary mb-2'>
          Work
        </a>
        <br />
        <a href='/person' class='btn btn-primary mb-2'>
          Person
        </a>
        <br />
        <a href='/bio' class='btn btn-primary mb-2'>
          Bio
        </a>
        <br />
        <a href='/program' class='btn btn-primary mb-2'>
          Program
        </a>
        <br />
        <a href='/web' class='btn btn-primary mb-2'>
          Web
        </a>
        <br />
        <a href='/js' class='btn btn-primary mb-2'>
          Js
        </a>
        <br />
        <a href='/car' class='btn btn-primary mb-2'>
          Car
        </a>
        <br />
        <a href='/mac' class='btn btn-primary mb-2'>
          Mac
        </a>
        <br />
        <a href='/facebook' class='btn btn-primary mb-2'>
          Facebook
        </a>
        <br />
        <a href='/bootstrap' class='btn btn-primary mb-2'>
          Bootstrap
        </a>
        <br />
        <a href='/task21' class='btn btn-primary mb-2'>
          Task21
        </a>
        <br />
        <a href='/task22' class='btn btn-primary mb-2'>
          Task22
        </a>
        <br />
        <a href='/task31' class='btn btn-primary mb-2'>
          Task31
        </a>
        <br />
        <a href='/shophome' class='btn btn-primary mb-2'>
          Shophome
        </a>
        <br />
        <a href='/shoporder' class='btn btn-primary mb-2'>
          Shoporder
        </a>
        <br />
        <a href='/shopcart' class='btn btn-primary mb-2'>
          Shopcart
        </a>
        <br />
        <a href='/shopreview' class='btn btn-primary'>
          Shopreview
        </a>
      </div>
    </div>
  </div>

</div>